@{
    Views_Home_Index.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Clima tempo simples</h1>
</div>


<div class="jumbotron">
    <h2>Cidades mais quentes hoje</h2>
</div>
<div>
    <h3></h3>
</div>

<div class="jumbotron">
    <h2>Cidades mais frias hoje</h2>
</div>
<div>
    <h3></h3>
</div>

<div class="jumbotron">
    <h2>Previsão do tempo para os proximos sete dias para cidade de </h2>
</div>
<div>
    <h3></h3>
</div>


